.empty-notification-container {
    /* border: 2px solid black; */
    /* flex-grow: 1; */
    padding: 20px;
    margin: 20px;
}

.empty-notification-image {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.no-noti-text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}