.headingg {
    color:pink;
}
.outline_bg {
    background-image: url("https://www.webex.com/content/dam/wbx/us/images/virtual-backgrounds/thumbs/Virtual_Background-Morning_thumb.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    
    height:100vh;
    width:100vw;
    padding-top:20px;
    
}
.labell {
    color:white;
    font-size:28px;
    font-family:"Roboto";
    font-style:italic;
    margin:40px;
    border-style:solid;
    border-radius:20px;
    background-color:transparent;
    text-align:center;
}
.component_list {
    margin-left:20px;
    margin-bottom:30px;
    padding:30px;
    margin-top:30px;
}
.main_display {
    border-radius:40px;
    background-image: linear-gradient(to bottom, #2ca4cc 0%,rgb(18, 41, 18) 100%);
    margin-bottom:10px;
    margin-right:20px;

    background-size:cover;

}
.profileLabel {
    font-size:25px;
    font-family:"Roboto";
    margin-top:70px;
    color:white;
    font-style:italic;
    background-color:transparent;
    text-align:center;
}

.main-container{
    width: 100vw;
}
.main_display_welcomeHeading{
    color:white;
    font-family:"Roboto";
    font-style:italic;
    font-weight:bold;
    font-size:30px;
}
.home-page-text {
    color:white;
    font-family:"Roboto";

}
.home-points{
    color:green;
    font-size:20px;
    font-weight:bold;
}
.carosel_carding {
   
    width:50vw;
    text-align:center;
    
}
.para {
    color:white;


}
.para1 {
    color:black;
    font-size:24px;
    font-style:italic;
}
.dashboard-title {
    color:white;
    font-size:30px;
    font-weight:bold;
    font-style:italic;
    font-family:"Roboto";
}
.dashboardHeading {
    color:black;
    font-size:26px;
}


.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
  }
  
  @media screen and (min-width: 768px) {
    .home-container {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 96px;
    }
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #000000; */
    max-width: 400px;
  }
  
  @media screen and (min-width: 768px) {
    .home-content {
      align-items: flex-start;
    }
  }
  
  .home-mobile-img {
    width: 206px;
  }
  
  @media screen and (min-width: 768px) {
    .home-mobile-img {
      display: none;
    }
  }
  
  .home-desktop-img {
    width: 50%;
    max-width: 450px;
    margin-left: 85px;
  }
  
  @media screen and (max-width: 767px) {
    .home-desktop-img {
      display: none;
    }
  }
  
  .home-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-heading {
      font-size: 46px;
      text-align: left;
    }
  }
  
  .home-description {
    font-family: 'Roboto';
    margin-top: 36px;
    font-size: 14px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
  }
  
  @media screen and (min-width: 768px) {
    .home-description {
      font-size: 18px;
      margin-top: 0;
      text-align: left;
    }
  }
  
  .shop-now-button {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
    background-color: #0967d2;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .shop-now-button {
      width: 150px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  
  .loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }